body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

main {
    padding-top: 10%;
}

#nome_pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 40px;
    pointer-events: none;
}

.header-content h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: white;
    border: 1px solid #333;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.filters .btn, .filters input {
    padding: 10px;
    border: 1px solid #333;
    font-size: 14px;
    cursor: pointer;
}

.filters input {
    flex: 1;
}

.boletim-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.report-card {
    padding: 20px;
    border: 1px solid #333;
}

.boletim-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.boletim-table th, .boletim-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

.boletim-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.boletim-table td {
    background-color: #fff;
}

.legenda-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #333;
    background-color: white;
    cursor: pointer;
}

.legenda-btn:hover {
    background-color: #ddd;
}
